*{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style-type: style none;
    padding: 0;
    background-color: #1c2833;
}

.content{
    height: 100vh;
    background: #1c2833;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 3em;
    color: #73c6b6;
}

li{
    cursor: pointer;
    background: white;
    margin: 10px;
    padding: 20px;
    font-size: 48px;
    text-align: center;
    color: #abebc6;
    position: relative;
}

.pendingList{
    width: 50vw;
    color: #f7dc6f;
    
}

.formItems{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formItems input{
    font-size: 28px;
    padding: 10px 20px;
    background-color: #fcf3cf;
    width: 70px;
}

.formItems button{
    font-size: 24px;
    border: none;
    background-color: teal;
    color: white;
    padding: 14px 30px;;
}

.formItems button:hover{
    cursor: pointer;
    background: #186a3b;
    color: #58d68d;
}

.formItems button:active{
    background: black;
    color:white;
}

#pending li{
    background-color: #145a32;
}

#completed li{
    text-decoration: line-through;
    color: #e6b0aa;
    background-color: #641e16;
}
